.bg-primary {
  background-color: #E4EB83;
}

.bg-darkprimary {
  background-color: #C7BF67;
}

.bg-lightgray {
  background-color: #eeedee;
}

.bg-error {
  background-color: #ea6070;
}

.bg-warning {
  background-color: #f6c86a;
}

.text-primary {
  color: #474525;
}

@import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);

body {
  font-family: "cwTeXYen", sans-serif;
}